<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAByS9B4nYpkZ90EmVAcG1GH8nT3x2_ASQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1080600762795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.busragedikoglu.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-e81ca</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-e81ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080600762795:ios:da529cf12f726e2e999aee</string>
</dict>
</plist>